<server>

    <featureManager>
        <feature>restfulWS-3.1</feature>
        <feature>jsonb-3.0</feature>
        <feature>mpHealth-4.0</feature>
        <feature>mpConfig-3.1</feature>
        <feature>mpRestClient-3.0</feature>
        <feature>beanValidation-3.0</feature>
        <feature>cdi-4.0</feature>
    </featureManager>

</server>