@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');
@import "rouge-github";

//Colors
$dark: #2f2f2f;
$birch: #f8dfa1;
$light-birch: #ffedc1;
$dark-birch: #96855b;
$grey: #948f8f;
$dark-grey: #4e4e4e;
$off-white: #eeeeee;
$white: #ffffff;

body {
  background-color: $white;
  padding: 0;
  margin: 0;
  font: 16px/1.5 "IBM Plex Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:$dark;
  font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  color:$dark;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
  margin-top: 30px;
  margin-bottom: 5px;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:$dark-birch;
  text-decoration:none;
}

a:hover, a:focus {
  color: $dark;
}

a:hover svg, a:focus {
  fill: $dark;
}

sidebar {
  a {
    color:$birch;
    text-decoration:none;
  }
  
  a:hover, a:focus {
    color: $light-birch;
  }
  
  a:hover svg, a:focus {
    fill: $light-birch;
  }
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  margin:0 auto;
  display: grid;
  grid-template-columns: 295px 1fr;
  grid-template-rows: 1fr 50px;
  grid-template-areas: "nav content"
                       "footer content";
  height: 100vh;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:"IBM Plex Mono", Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#111;
}

pre {
  padding:8px 15px;
  background: $off-white;
  border-style: solid;
  border-width: 0px;
  border-color: $grey;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

sidebar {
  grid-area: nav;
  color: $grey;
  height: calc(100% - 20px);
  padding: 10px 10px 10px 25px;
  background: $dark;
  -webkit-font-smoothing:subpixel-antialiased;
}

sidebar ul {
  list-style:none;
  height:40px;
  padding:0;
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
  width:270px;
}

sidebar li {
  width:89px;
  float:left;
  border-right:1px solid #e0e0e0;
  height:40px;
}

sidebar li:first-child a {
  border-radius:5px 0 0 5px;
}

sidebar li:last-child a {
  border-radius:0 5px 5px 0;
}

sidebar ul a {
  line-height:1;
  font-size:11px;
  color:#676767;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

sidebar ul a:hover, sidebar ul a:focus {
  color:#675C5C;
  font-weight:bold;
}

sidebar ul a:active {
  background-color:#f0f0f0;
}

strong {
  color:#222;
  font-weight:700;
}

sidebar ul li + li + li {
  border-right:none;
  width:89px;
}

sidebar ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  grid-area: content;
  width: calc(100% - 40px);
  padding: 0px 20px 50px;
  overflow: auto;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

section #content {
  max-width: 880px;
  width: 100%;
}

#content .title {
  font-size: 36px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  grid-area: footer;
  background-color: $dark;
  -webkit-font-smoothing:subpixel-antialiased;
}

@media print, screen and (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 50px;
    grid-template-areas: "nav"
                         "content"
                         "footer";

    height: auto;
  }

  sidebar {
    padding: 10px;
    height: auto;
  }

  sidebar h1 {
    margin-top: 5px;
  }

  section {
    width: unset;
  }

  section #content {
    width: calc(100vw - 20px);

    .title {
      font-size: 28px;
    }
  }

  code {
    word-break: break-all;
  }
  
}

.sidebarPage {
  padding-top: .6em;
}

.sidebarLink {
  display: inline-block;
  line-height: 1.2;
}

.sidebarSectionTitle {
	padding-top: .5em;
}

.octicon-mark {
	width: 32px;
	height: 32px;
	fill: $birch;
}

a#text {
	vertical-align: middle;
}

.githubLink {
	display: table;
}

.githubLink > span {
	font-size: 14pt;
	font-style: italic;
	display: table-cell;
	vertical-align: middle;
	padding-left: .8em;
	padding-bottom: .3em
}