<server>

    <featureManager>
        <feature>restfulWS-3.1</feature>
        <feature>jsonb-3.0</feature>
        <feature>mpHealth-4.0</feature>
        <feature>mpConfig-3.1</feature>
        <feature>mpRestClient-3.0</feature>
        <feature>beanValidation-3.0</feature>
        <feature>cdi-4.0</feature>
        <feature>appSecurity-5.0</feature>
    </featureManager>

    <basicRegistry id="basic">
        <user name="alice" password="alicepwd"/>
        <user name="bob" password="bobpwd"/>
    </basicRegistry>

    <webApplication location="myservice.war">
        <application-bnd>
            <!-- this can also be defined in web.xml instead -->
            <security-role name="admin">
                <user name="bob"/>
            </security-role>
        </application-bnd>
    </webApplication>

</server>
